@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
}

.hero {
    margin-left: 160px;
    margin-right: 175px;
}

.hero-nav {
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.hero-con {
    margin: 100px 0;
}

.hero-con,
.hero-nav,
body,
ul {
    display: flex;
}

.main {
    font-size: 48px;
    font-weight: 900;
}

.con-l, .con-img {
    flex: 1;
}

.con-img {
    background-color: #6d747d;
}

.con-l {
    display: flex;
    flex-direction: column;
}

h1, p {
    margin: 0;
}

.btn {
    border-radius: 8px;
    background-color: #3882f6;
    width: 130px;
    height: 38px;
    flex: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
}

.sec-txt{
    padding-right: 50px
}

.nav-l {
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

a, 
.sec-txt,
.btn {
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.cta-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3882f6;
}

.cta-head {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 50px;
}

.card {
    width: 160px;
    height: 160px;
    border-radius: 15px;
    border: 4px solid #3882f6;
    margin-bottom: 10px;
}

.cta-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    margin-bottom: 100px;
}

.items {
    width: 165px;
    text-align: center;
}

.text {
    color: #5e5e5e;
    font-size: 18px;
}

.qoute-con {
    background-color: #e5e7eb;
    padding: 100px 250px;
    
}
.q-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-top: 30px;
}

.qoute {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.qouted {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    margin-right: 35px;
}