@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
}

.hero {
    margin: 0 200px;
}

.hero-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-l {
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

a, .sec-txt {
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
}
